<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Task</title>
    <script src="resources/javascripts/libs/react.js" charset="utf-8"></script>
    <script src="resources/javascripts/libs/react-dom.js" charset="utf-8"></script>
    <script src="resources/javascripts/libs/babel.js" charset="utf-8"></script>
</head>
<body>
    <h1>Our Application</h1>
    <div>
        $screen_content
    </div>
</body>
</html>